In [1]:
import pandas as pd
import numpy as np

In [188]:
df = pd.read_excel(r'output.xlsx')

In [189]:
df

,C,1653596335929.pdf,.net,Technical,Communication,Programming,System,Logistics,Js,P,...,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,Training,1660942895912.pdf,C,.net,Access,Communication,Mysql,Programming,System,Postgresql,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ibm,1655328514623.pdf,Word,Scrum,Aws,Mysql,Programming,System,Postgresql,Js,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54998637-Ahmed-Sobhi-CV.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Training,547847274-CV-2021-10-08-094149.pdf,Microsoft excel,Word,Autocad,Construction,Excel,Engineering,Sap,English,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,518594192-cv.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,Orange,Digital marketing.pdf,German,Email,Customer service,Marketing,Sales,Technical,Seo,Outsourcing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,82865930-MOHAMED-FAHMY-CV-1.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,Training,487291217-CV-docx.docx,Mobile,Word,Writing,Excel,Certification,English,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,Api,Mahmoud Mohamed CV .pdf,Coding,Troubleshooting,Sales,Github,English,Javascript,Html5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,Training,295307146-Cv-Ahmed-i-abdelsalam-1.pdf,Pharmaceutical,C,Technical,Modeling,Communication,Mysql,Programming,System,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
file = df.iloc[:,1]

In [191]:
df.drop(['1653596335929.pdf'], axis=1, inplace=True)

In [192]:
df.shape

(621, 83)

In [193]:
file.shape

(621,)

In [194]:
df = pd.concat([file,df], axis =1)

In [195]:
df

,1653596335929.pdf,C,.net,Technical,Communication,Programming,System,Logistics,Js,P,...,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,1660942895912.pdf,Training,C,.net,Access,Communication,Mysql,Programming,System,Postgresql,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1655328514623.pdf,Ibm,Word,Scrum,Aws,Mysql,Programming,System,Postgresql,Js,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,54998637-Ahmed-Sobhi-CV.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,547847274-CV-2021-10-08-094149.pdf,Training,Microsoft excel,Word,Autocad,Construction,Excel,Engineering,Sap,English,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,518594192-cv.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,Digital marketing.pdf,Orange,German,Email,Customer service,Marketing,Sales,Technical,Seo,Outsourcing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,82865930-MOHAMED-FAHMY-CV-1.doc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,487291217-CV-docx.docx,Training,Mobile,Word,Writing,Excel,Certification,English,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,Mahmoud Mohamed CV .pdf,Api,Coding,Troubleshooting,Sales,Github,English,Javascript,Html5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,295307146-Cv-Ahmed-i-abdelsalam-1.pdf,Training,Pharmaceutical,C,Technical,Modeling,Communication,Mysql,Programming,System,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
df1= pd.DataFrame(df.iloc[:,0].values, columns=['File'])

In [197]:
df1

                                      File
0                        1660942895912.pdf
1                        1655328514623.pdf
2                                      NaN
3       547847274-CV-2021-10-08-094149.pdf
4                                      NaN
..                                     ...
616                  Digital marketing.pdf
617                                    NaN
618                 487291217-CV-docx.docx
619                Mahmoud Mohamed CV .pdf
620  295307146-Cv-Ahmed-i-abdelsalam-1.pdf

[621 rows x 1 columns]

In [146]:
ls= []
for i in range(len(df)):
    tup = list(df.iloc[i,1:])
    ls.append(tup)
    
df1['skills'] = ls

In [147]:
df1

,File,skills
0,1660942895912.pdf,"[Training, C, .net, Access, Communication, Mys..."
1,1655328514623.pdf,"[Ibm, Word, Scrum, Aws, Mysql, Programming, Sy..."
2,NaN,"[54998637-Ahmed-Sobhi-CV.doc, nan, nan, nan, n..."
3,547847274-CV-2021-10-08-094149.pdf,"[Training, Microsoft excel, Word, Autocad, Con..."
4,NaN,"[518594192-cv.doc, nan, nan, nan, nan, nan, na..."
...,...,...
616,Digital marketing.pdf,"[Orange, German, Email, Customer service, Mark..."
617,NaN,"[82865930-MOHAMED-FAHMY-CV-1.doc, nan, nan, na..."
618,487291217-CV-docx.docx,"[Training, Mobile, Word, Writing, Excel, Certi..."
619,Mahmoud Mohamed CV .pdf,"[Api, Coding, Troubleshooting, Sales, Github, ..."
620,295307146-Cv-Ahmed-i-abdelsalam-1.pdf,"[Training, Pharmaceutical, C, Technical, Model..."

In [148]:
ls=[]
k=[]
for i in range(len(df)):
    for j in df1.iloc[i,1]:
        if type(j)!=str and math.isnan(j):
            continue
        else:
            ls.append(j)
    k.append(ls)
    ls=[]

In [182]:
# sa=pd.Series([1,2])
f = pd. DataFrame([1,2], columns = ["skills"])
f['skills']=f['skills'].astype('object')
for i in range(len(k)):
    f.at[i,'skills']=k[i]

In [198]:
df1 = pd.concat([df1.iloc[:,:],f.iloc[:,:]], axis = 1)

In [213]:
idx = []
for j in range(len(df1)):
    if type(df1.iloc[j,0]) != str and math.isnan(df1.iloc[j,0]):
        idx.append(j)

In [215]:
len(idx)

104

In [216]:
for i in idx:
    df1.drop(df.index[i], inplace=True)

In [218]:
df1.reset_index(inplace = True, drop = True)

In [220]:
df1.to_csv('file.csv')

In [207]:
g=df1.copy()
g

,File,skills
0,1660942895912.pdf,"[Training, C, .net, Access, Communication, Mys..."
1,1655328514623.pdf,"[Ibm, Word, Scrum, Aws, Mysql, Programming, Sy..."
2,NaN,[54998637-Ahmed-Sobhi-CV.doc]
3,547847274-CV-2021-10-08-094149.pdf,"[Training, Microsoft excel, Word, Autocad, Con..."
4,NaN,[518594192-cv.doc]
...,...,...
616,Digital marketing.pdf,"[Orange, German, Email, Customer service, Mark..."
617,NaN,[82865930-MOHAMED-FAHMY-CV-1.doc]
618,487291217-CV-docx.docx,"[Training, Mobile, Word, Writing, Excel, Certi..."
619,Mahmoud Mohamed CV .pdf,"[Api, Coding, Troubleshooting, Sales, Github, ..."
620,295307146-Cv-Ahmed-i-abdelsalam-1.pdf,"[Training, Pharmaceutical, C, Technical, Model..."

In [162]:
g

    ko             (0, 0)                  0
0  NaN           Training           Training
1  NaN                  C                  C
2  NaN               .net               .net
3  NaN             Access             Access
4  NaN      Communication      Communication
5  NaN              Mysql              Mysql
6  NaN        Programming        Programming
7  NaN             System             System
8  NaN         Postgresql         Postgresql
9  NaN                Xml                Xml
10 NaN  Operating systems  Operating systems
11 NaN              Email              Email
12 NaN          Scripting          Scripting
13 NaN             Github             Github
14 NaN             Visual             Visual
15 NaN              Linux              Linux
16 NaN             Design             Design
17 NaN                Try                Try
18 NaN         Javascript         Javascript
19 NaN               Json               Json
20 NaN                Asp                Asp
21 NaN            Testing            Testing
22 NaN                 Os                 Os
23 NaN               Java               Java
24 NaN           Database           Database
25 NaN            Android            Android
26 NaN              Html5              Html5
27 NaN                C++                C++
28 NaN                 C#                 C#
29 NaN           Hardware           Hardware
30 NaN                Css                Css
31 NaN                Sql                Sql
32 NaN               Html               Html
33 NaN            Windows            Windows
34 NaN                Php                Php